PORT=3000
MONGODB_URI=mongodb+srv://<votre_utilisateur>:<votre_mot_de_passe>@cluster.mongodb.net/<nom_de_base_de_donnees>?retryWrites=true&w=majority
JWT_SECRET=phrase_secrete_aleatoire_et_longue_ici
ZERUH_API_KEY=votre_cle_api_zeruh_ici
